@import "../abstracts/mixins";
@import "../abstracts/variables";


.banner {
  position: relative;
  z-index: 1;

  &__inner {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    width: 10000px;
    height: calc(100vh - 124px);
    top: 124px;
    @media (max-width: $breakpoint-lg) {
      top: 84px;
      height: calc(100vh - 84px);
    }
    @media (max-width: $breakpoint-md) {
      display: flex;
      width: 100%;
      height: auto;
      TOP: 0;
      padding: 250PX 0 135PX 0;
    }
  }

  &__content {
    width: 100%;
    max-width: 1296px;
    margin: auto;
    padding: 0 10px;
    z-index: 7;
    position: relative;
    color: $white-color;

    & .btn-transparent__white {
      min-width: 244px;
    }

    &:after {
       content:'';
     // background: transparent;
      position: absolute;
      top: -20px;
      left: -20px;
      height: calc(100% + 40px);
      width: calc(100% + 40px);
      backdrop-filter: blur(3px)

    }
  }

  &__title {
    color: $whiteColor;
    margin-bottom: 38px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 13px;
    }
  }

  &__description {
    @include fontSize(25, 40);
    line-height: 1.4;
    margin-bottom: 38px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 13px;
    }
  }


  .bg {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .parallax-bg {
    overflow-y: hidden;

    .bg {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &__video {
      position: absolute;
      z-index: -1;
      left: 0;
      min-width: 100%;
      height: 100%;
      -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
      transform: scale(1.15);
    }
  }

  .opacity::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    /* height:50%;
     background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.290936) 68.54%, rgba(0, 0, 0, 0.82) 100%);*/
    height: 20%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.290936) 50.54%, rgba(0, 0, 0, 0.82) 100%);

    @media (max-width: $breakpoint-md) {
      height: 30%;
    }
  }


  & .swiper {
    &-entry {
      overflow: hidden;
      padding-top: 0;
    }

    &-slide {
      overflow: hidden;
    }

    &-controls {
      position: absolute;
      bottom: 54px;
      left: 0;

      z-index: 3;
      color: $whiteColor;
      @media (max-width: $breakpoint-md) {
        bottom: 23px;
        left: 15px;
      }
    }

    &-pagination {
      position: relative;
      width: auto;
      bottom: 0;
      color: transparent;

      &:after {
        content: '';
        width: 1px;
        height: 21px;
        background-color: $whiteColor;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      & span {
        color: $whiteColor;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;

        &:not(&:last-child) {
          margin-right: 13px;

        }
      }
    }

    &-container {
      height: 100vh;
      padding-bottom: 0;
      @media (max-width: $breakpoint-md) {
        height: auto;
      }
    }
  }

  .parallax-bg__img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    @media (max-width: $breakpoint-md) {
      width: 100%;
    }

    &:nth-child(2) {
      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }

    &-wrap {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
    }
  }

  .custom-fraction-wrap {
    padding: 0 10px;
    line-height: 1;

    div {
      //width: 20px;
      &.custom-current, &.custom-total {
        font-family: 'VinnytsiaSerif', serif;
      }

      &.custom-current {
        text-align: right;
        font-size: 25px;
        line-height: 0.7;
      }

      &.custom-total {
        text-align: left;
        font-size: 16px;
      }
    }

    & span {
      font-size: 16px;
      color: $white-color;
      padding: 0 4px;
      font-family: 'VinnytsiaSerif', serif;
    }
  }
}

.swiper-container {
  opacity: 0;
  @include transition(.5);
}

.swiper-container.swiper-initialized {
  opacity: 1;
}


.s-recommended-product {
  padding-bottom: 96px;
  @media (max-width: $breakpoint-lg) {
    padding-bottom: 45px;
  }

  & .tab {
    &__list {
      margin-bottom: 44px;
      @media (max-width: $breakpoint-lg) {
        margin-bottom: 24px;
        width: calc(100% + 30px);
        left: -15px;
        position: relative;
      }
      @media (max-width: 400px) {

        gap: 30px;
      }
    }

    &__item {
      @media (max-width: 400px) {
        font-size: 13px;
      }

      &:not(&:last-child) {
        &:after {

          @media (max-width: 400px) {
            width: 6px;
            height: 6px;
            right: -18px;
          }
        }
      }

    }
  }
}

.s-reviews {


  & .swiper {
    &-container {
      overflow: visible;
    }

    &-pagination {
      padding: 5px 0;
      margin-top: 50px;
      @media (max-width: $breakpoint-lg) {
        margin-top: 20px;
      }
    }

    &-slide {
      & .review {
        opacity: 0.3;
        @include transition(.6);
      }

      //  opacity: 0.3;
      // @include transition(.6);
      &-active, &-next {
        & .review {
          opacity: 1;
          @include transition(.6);
        }
      }
    }
  }

  & .review {
    padding: 30px 20px;
    background: rgba(246, 244, 242, 1);
    @media (max-width: $breakpoint-lg) {
      padding: 20px;
    }

    &__img {
      height: 100%;
      width: 100%;

      &-box {
        width: 67px;
        height: 67px;
        border-radius: 100%;
        overflow: hidden;
        margin-right: 19px;
      }
    }

    &__date {
      font-size: 17px;
      color: rgba(139, 117, 96, 1);
      padding-left: 39px;
    }

    &__user {
      margin-bottom: 7px;
      font-size: 20px;
    }

    &__text {
      margin-top: 21px;
      font-size: 17px;
      line-height: 27px;
    }
  }
}

.s-subscribe {
  & .title {
    font-family: "CenturyGothic", sans-serif;
    font-size: 35px;
    margin-bottom: 28px;
    @media (max-width: $breakpoint-md) {
      font-size: 22px;
      margin-bottom: 18px;
    }
  }

  & .description {
    font-size: 20px;
    line-height: 1.75;
    margin-bottom: 56px;
    @media (max-width: $breakpoint-md) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  & .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &__wrap {
      position: relative;
      padding-bottom: 100%;
    }
  }

  & .subscribe {
    max-width: 570px;
    padding: 11px 0;
    border-bottom: 1px solid rgba(178, 178, 178, 1);

    &__input {

      width: calc(100% - 18px);
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      font-family: 'OpenSans', sans-serif;
      font-size: 17px;
      color: rgba(102, 102, 102, 1);
      font-weight: 300;
      border: none;
      padding: 0;

      &::-moz-placeholder {
        font-family: 'OpenSans', sans-serif;
        font-size: 17px;
        color: rgba(102, 102, 102, 1);
        font-weight: 300;
      }

      &::-webkit-input-placeholder {
        font-family: 'OpenSans', sans-serif;
        font-size: 17px;
        color: rgba(102, 102, 102, 1);
        font-weight: 300;
      }

      &:-ms-input-placeholder {
        font-family: 'OpenSans', sans-serif;
        font-size: 17px;
        color: rgba(102, 102, 102, 1);
        font-weight: 300;
      }

      &::placeholder {
        font-family: 'OpenSans', sans-serif;
        font-size: 17px;
        color: rgba(102, 102, 102, 1);
        font-weight: 300;

      }
    }

    &__btn {
      padding: 0;
      background: transparent;
      border: none;
      cursor: pointer;

      & i {
        font-size: 16px;
        color: rgba(75, 101, 83, 1);
      }
    }
  }

  & .spacer-lg {
    @media (max-width: $breakpoint-md) {
      height: 70px;
    }
  }
}