@import "../abstracts/mixins";
@import "../abstracts/variables";


.s-error, .s-thanks {
  background: rgba(255, 249, 242, 1);
  position: relative;
  height: auto;

  & .logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;

    &__wrap {

      display: block;

      width: 241px;
      height: 47px;
      top: 47px;

      @media (max-width: $breakpoint-md) {
        width: 180px;
        height: 70px;
      }
    }
  }

  & .content {
    & .heading, & .description {
      color: rgba(139, 117, 96, 1);
    }

    & .heading {
      margin-bottom: 60px;
      @include fontSize(35, 60);
      @media (max-width: $breakpoint-md) {
        margin-bottom: 30px;
      }

      &__accent {
        @include fontSize(65, 120);
        color:rgba(75, 101, 83, 1);
        margin-bottom: 85px;
        @media (max-width: $breakpoint-md) {
          margin-bottom: 30px;
        }
      }
    }

    & .description {
      margin-bottom: 60px;
      @include fontSize(20, 30);
      @media (max-width: $breakpoint-md) {
        margin-bottom: 40px;
      }
    }

    & .btn-primary {
      padding: 15px 64px 15px 20px;
    }
  }

  &__inner {
    height: 100vh;
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    @media (max-width: $breakpoint-md) {
      height: auto;
      padding-top: 170px;
      text-align: center;

    }
  }

}


.s-thanks {

  & .content {
    & .description {
      @media (max-width: $breakpoint-md) {
        margin-bottom: 20px;
      }
    }
  }

  & .img {
    &__wrap {

      @media (max-width: $breakpoint-md) {
        // max-width: 285px;
        margin: 80px auto 0 auto;

      }
    }
  }
}

.s-error {

  & .content {
    & .number {
      @include fontSize(160, 250);
      line-height: 1;
      margin-bottom: 20px;
      color: $accent-color;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 0;
      }
    }

    & .heading, .description {
      color: #111A17;
    }

    & .description {

      @media (max-width: $breakpoint-md) {
        margin-bottom: 38px;
      }
    }

  }

  & .img {
    &__wrap {
      position: relative;
      left: -40px;
      max-width: 480px;
      margin: 0 auto;
      @media (max-width: $breakpoint-md) {
        max-width: 285px;
        margin: 40px auto 0 auto;
        left: auto;
      }
    }
  }
}

.s-simple {
  padding: 50px 0 100px 0;
  @media (max-width: $breakpoint-md) {
    padding: 30px 0 60px 0;
  }

  & .heading {
    margin-bottom: 30px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 20px;
    }
  }

  & .cms-content {
    & p {
      font-size: 17px;
      line-height: 1.5;
      font-weight: 300;

      & + h3 {
        margin-top: 25px;
      }
    }

    & ul, ol {
      padding-left: 30px;

      & li {
        font-size: 17px;
        line-height: 1.5;
        font-weight: 300;

        &::marker {
          font-size: 12px !important;
        }

        &:not(&:last-child) {
          margin-bottom: 10px !important;
        }
      }
    }
  }
}