@import "../abstracts/mixins";
@import "../abstracts/variables";

.marquee {
  --marquee-gap: max(1rem, 3.125vw);
  --marquee-font: max(12px, 20px);
  background: #4b6553;

  & .dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #fff;
    @media (max-width: $breakpoint-md) {
      width: 6px;
      height: 6px;
    }
  }

  &-line {
    position: relative;
    height: calc(var(--marquee-font) * 3);
    width: 140vw;
    margin-left: -20vw;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    @media (max-width: $breakpoint-md) {
      height: calc(var(--marquee-font) * 2.2);
    }
  }

  &-item {
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(var(--x), -50%, 0);
    transform: translate3d(var(--x), -50%, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  &-content {
    gap: var(--marquee-gap);
    font-size: var(--marquee-font);
    line-height: 1;
    font-weight: 700;
    color: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-inline: calc(var(--marquee-gap) / 2);
    @media (max-width: $breakpoint-md) {
      font-size: 14px;
    }

    & > * {
      -ms-flex-negative: 0;
      flex-shrink: 0;
    }
  }
}
